# Copie este arquivo para .env.local no seu computador.
# NUNCA suba .env.local para GitHub.

APPS_SCRIPT_URL="COLE_AQUI_SUA_URL_DO_APPS_SCRIPT_OU_GOOGLEUSERCONTENT"
APPS_SCRIPT_TOKEN="COLE_AQUI_O_MESMO_TOKEN_FORTE_DO_CODE_GS"

# Proteção gratuita por senha no próprio código.
# Em desenvolvimento local, pode deixar false.
# Na Vercel, use true.
APP_REQUIRE_AUTH=false
APP_BASIC_USER="icc-ti"
APP_BASIC_PASSWORD="TROQUE_POR_UMA_SENHA_FORTE"
